<section id = "tasks">
    <header>
        <p>
            {{activeUserName}}'s to do's
        </p>
            <button (click)="onAddingNewTask()">
                Add Task
            </button>
    </header>
    <app-new-task   [addingNewTask]="addingNewTaskStatus"
                    (onClosingNewTaskDialog)="closeNewTaskDialog($event)"
    ></app-new-task>
    <ul>
        @for(task of tasksForSelectedUser; track task.id){
        <li>
            <app-task
                [taskTitle]="task.title"
                [taskId]="task.id"
                [taskTimeToComplete]="task.dueDate"
                [taskSummary]="task.summary"
                (taskCompleted)="onDeleteCompletedTask($event)"
            ></app-task>
        </li>
    }
    </ul>
</section>
    

