<app-header></app-header>

<main>
    <ul id="users">
        @for(user of users; track user.id){
        <li>
            <app-user   [avatar]="user.avatar"
                        [name]="user.name"
                        [id]="user.id"
                        (selectUserEvent)="saveSelectUserEvent($event)"
            ></app-user>
        </li>
    }
    </ul>
    @if(passedUserId) {
        <app-task-view      [activeUserId]="passedUserId"
        ></app-task-view>
    } @else {
        <p id="fallback"> No user currently selected</p>
    }
</main>