<app-header></app-header>

<main>
    <ul id="users">
        @for(user of users; track user.id){
        <li>
            <app-user   [avatar]="user.avatar"
                        [name]="user.name"
                        [id]="user.id"
                        [selected]="user.id===passedUserId"
                        (selectUserEvent)="saveSelectUserEvent($event)"
            ></app-user>
        </li>
    }
    </ul>
    @if(passedUserName) {
        <app-task-view  [activeUserId]="passedUserId"    [activeUserName]="passedUserName"
        ></app-task-view>
    } @else {
        <p id="fallback"> No user currently selected</p>
    }
</main>